<!-- mat-elevation-z0 border -->
<mat-card class="post mat-elevation-z0 border">

    <!-- ----------------------------------------------------------------------- -->
    <!--                                  edit                                   -->
    <!-- ----------------------------------------------------------------------- -->

    <ng-container *ngIf="isEditing; else elseTemplate">
        <app-story-editor
                          [type]="isTopic ? 'story': 'post'"
                          [mode]="'edit'"
                          [postId]="post.id"
                          (submitted)="hideEditor()">
        </app-story-editor>
        <button mat-button color="accent" (click)="hideEditor()">
            Cancel edit
        </button>
    </ng-container>

    <!-- ----------------------------------------------------------------------- -->
    <!--                                  view                                   -->
    <!-- ----------------------------------------------------------------------- -->

    <ng-template #elseTemplate>
        <mat-card-header>
            <mat-card-title>
                <h1 [ngClass]="{'mat-display-3 mb-5': isTopic}" class="mt-3">
                    {{post.title | titlecase}}
                </h1>
            </mat-card-title>
            <mat-card-subtitle>By {{post.authorName}} <br> {{post.creationDateTime }}</mat-card-subtitle>
        </mat-card-header>
        <img *ngIf="isTopic" mat-card-image [src]="'https://picsum.photos/800/300'" alt="Demo image">
        <mat-card-content>

            <!-- no need to show description here -->
            <!-- <p class="">
                {{post.description}}
            </p> -->

            <div class="post-content p-md-3" [innerHTML]="post.content"></div>
        </mat-card-content>
        <mat-card-actions *ngIf="canEdit">
            <button mat-button color="accent" (click)="showEditor()">
                Edit
            </button>
            <button mat-button color="warn" (click)="delete()">
                Delete
            </button>
        </mat-card-actions>
    </ng-template>

</mat-card>