<ng-container *ngIf="(state$ | async).selectedStory as selectedStory">

    <!-- ----------------------------------------------------------------------- -->
    <!--                                  story                                  -->
    <!-- ----------------------------------------------------------------------- -->

    <app-post [post]="selectedStory" [isTopic]="true"></app-post>

    <mat-divider></mat-divider>

    <!-- ----------------------------------------------------------------------- -->
    <!--                            add post to story                            -->
    <!-- ----------------------------------------------------------------------- -->

    <div class="d-flex py-5 w-100">
        <ng-container *ngIf="isAddPostToStoryVisible; else elseTemplate">
            <button (click)="hideAddPostToStory()" mat-stroked-button class="mx-2" color="warn">
                Cancel adding a post to this stroy
            </button>
        </ng-container>
        <ng-template #elseTemplate>
            <button (click)="showAddPostToStory()" *ngIf="!isAddPostToStoryVisible" mat-stroked-button class="mx-2"
                    color="primary">
                Add a post to this story
            </button>
        </ng-template>
    </div>
    <app-story-editor
                      *ngIf="isAddPostToStoryVisible"
                      [storyId]="selectedStory.id"
                      (submitted)="hideAddPostToStory()">
    </app-story-editor>

    <!-- ----------------------------------------------------------------------- -->
    <!--                                  posts                                  -->
    <!-- ----------------------------------------------------------------------- -->

    <ng-container *ngFor="let post of selectedStory.posts">

        <mat-divider></mat-divider>

        <app-post [post]="post" [isTopic]="false"></app-post>

    </ng-container>
</ng-container>