<ng-container *ngIf="(state$ | async).selectedStory as selectedStory">

    <!-- ----------------------------------------------------------------------- -->
    <!--                                  story                                  -->
    <!-- ----------------------------------------------------------------------- -->

    <app-post [post]="selectedStory" [isTopic]="true"></app-post>

    <mat-divider></mat-divider>

    <!-- ----------------------------------------------------------------------- -->
    <!--                            add post to story                            -->
    <!-- ----------------------------------------------------------------------- -->

    <div *ngIf="isLoggedIn" class="d-flex py-3 w-100">
        <ng-container *ngIf="isAddPostToStoryVisible; else elseTemplate">
            <button (click)="hideAddPostToStory()" mat-button class="mx-2" color="warn">
                Cancel adding a post to this stroy
            </button>
        </ng-container>
        <ng-template #elseTemplate>
            <button (click)="showAddPostToStory()" *ngIf="!isAddPostToStoryVisible" mat-button  class="mx-2"
                    color="primary">
                Add a post to this story
            </button>
        </ng-template>
    </div>
    <app-story-editor
                      *ngIf="isAddPostToStoryVisible"
                      [mode]="'add'"
                      [type]="'post'"
                      [storyId]="selectedStory.storyId"
                      (submitted)="hideAddPostToStory()">
    </app-story-editor>

    <!-- ----------------------------------------------------------------------- -->
    <!--                                  posts                                  -->
    <!-- ----------------------------------------------------------------------- -->
    <h2 class="w-100 px-3 mt-4">Story posts</h2>
    <ng-container *ngFor="let post of selectedStory.posts">

        <mat-divider class="mb-4 w-100"></mat-divider>

        <app-post [post]="post" [isTopic]="false"></app-post>

    </ng-container>
    <p class="w-100 px-3" *ngIf="!selectedStory?.posts || !selectedStory.posts.length">This story does not have any posts yet</p>
</ng-container>