<!-- ----------------------------------------------------------------------- -->
<!--                                 Search                                  -->
<!-- ----------------------------------------------------------------------- -->

<div class="px-md-5">
    <mat-form-field floatLabel="never" appearance="outline" style="width: 100%;">
        <input [formControl]="filterCtrl" placeholder="Type to search story ( title, author, description )" matInput>
        <mat-icon matPrefix color="primary" class="mr-3">search</mat-icon>
    </mat-form-field>
</div>

<!-- ----------------------------------------------------------------------- -->
<!--                                 Actions                                 -->
<!-- ----------------------------------------------------------------------- -->

<div *ngIf="isLoggedIn" class="d-flex flex-wrap justify-content-center justify-content-md-end mb-4 px-5">
    <button mat-button [routerLink]="'./add'" class="mx-2" color="primary">
        <i class="material-icons mr-2 py-2">
            add
        </i>
        Add Story
    </button>
</div>

<!-- ----------------------------------------------------------------------- -->
<!--                              Stories list                               -->
<!-- ----------------------------------------------------------------------- -->

<div class="story-cards-wrapper">
    <ng-container *ngIf="state$ | async as state">

        <mat-card *ngFor="let story of state.storiesList; index as i" class="story-card mat-elevation-z0 border">
            <mat-card-header>
                <mat-card-title>{{story.title}}</mat-card-title>
                <mat-card-subtitle>By {{story.authorName}} <br> {{story.creationDateTime | dateAgo}}</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image [src]="'https://picsum.photos/' + (300 + i) + '/' + (200 - i)" alt="Demo image">
            <mat-card-content>
                <p>
                    {{story.description}}
                </p>
            </mat-card-content>
            <mat-card-actions>
                <a mat-button color="primary" [routerLink]="[ './view/' + (story.id || 0) ]">Read more</a>
            </mat-card-actions>
        </mat-card>

        <p *ngIf="!state.storiesList || !state.storiesList.length">No stories found</p>
    </ng-container>
</div>

<!-- ----------------------------------------------------------------------- -->
<!--                                Paginator                                -->
<!-- ----------------------------------------------------------------------- -->

<!-- <div class="paginator-wrapper">
    <mat-paginator [length]="100"
                   [pageSize]="10"
                   [pageSizeOptions]="[5, 10, 25, 100]">
    </mat-paginator>
</div> -->