<!-- ----------------------------------------------------------------------- -->
<!--                          Routing Progress bar                           -->
<!-- ----------------------------------------------------------------------- -->

<mat-progress-bar class="app-loader"
                  mode="determinate"
                  [value]="loader.value$ | async"
                  color="primary"
                 >
</mat-progress-bar>

<!-- ----------------------------------------------------------------------- -->
<!--                                 Toolbar                                 -->
<!-- ----------------------------------------------------------------------- -->

<mat-toolbar class="app-toolbar flex-wrap justify-content-between mat-elevation-z0 border-bottom"
             style="position: fixed;z-index: 100;">

  <!-- ----------------------------- site title ------------------------------ -->

  <div class="d-flex mx-3">
    PwC Assignment

    <!-- -------------------------------- navs --------------------------------- -->
    <div class="d-none d-md-flex px-4">
      <a mat-button
         class="mx-2"
         color="primary"
         routerLink="pages/stories">
        Stories
      </a>
      <a mat-button
         class="mx-2"
         color="primary"
         routerLink="pages/about">
        About
      </a>
    </div>

  </div>


  

  <!-- -------------------------------- Login -------------------------------- -->

  <div class="d-none d-md-flex align-items-center">
    <div *ngIf="isLoggedIn()" class="d-none d-lg-flex">
      <span class="fs-075 text-secondary mr-2">Hi,</span>
      <span class="fs-1 fw-550 text-muted ">{{getName()}}</span>

      <mat-chip-list class="mx-3" >
        <mat-chip color="primary" selected>{{getRole()}}</mat-chip>
      </mat-chip-list>

      <!-- <span class="fs-075 fw-550 text-muted ">ADMIN</span> -->
    </div>
    <a mat-stroked-button
       class="mx-3"
       color="primary"
       (click)="login()">
      {{ isLoggedIn() ? 'Logout' : 'Login' }}
      <i class="material-icons ml-3"
         matTooltip="Sing out">
        {{ isLoggedIn() ? 'settings_power' : 'input' }}
      </i>
    </a>
  </div>

  <!-- ----------------------------- mobile navs ----------------------------- -->

  <div class="d-md-none">
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <!-- navs -->
      <button mat-menu-item routerLink="pages/stories">
        <mat-icon>article</mat-icon>
        <span>Stories</span>
      </button>
      <button mat-menu-item routerLink="pages/about">
        <mat-icon>info</mat-icon>
        <span>About</span>
      </button>


      <button mat-menu-item (click)="login()">
        <mat-icon>{{ isLoggedIn() ? 'settings_power' : 'input' }}</mat-icon>
        <span>{{ isLoggedIn() ? 'Logout' : 'Login' }}</span>
      </button>
    </mat-menu>
  </div>

</mat-toolbar>

<!-- ----------------------------------------------------------------------- -->
<!--                              main content                               -->
<!-- ----------------------------------------------------------------------- -->

<div class="container h-100 app-content">
  <router-outlet></router-outlet>
</div>