<h1 *ngIf="type === 'story'" class="border-bottom pb-3 mb-5">{{mode === 'add' ? 'Add a new story' : 'Edit story'}}</h1>
<form class="fs-1"
      (ngSubmit)="save()"
      [formGroup]="storyFG">

    <!-- -------------------------------- Title -------------------------------- -->

    <mat-label>Title
        <span class="text-danger">*</span>
    </mat-label>
    <mat-form-field appearance="outline" class="w-100 py-3">

        <input matInput
               [placeholder]="'Enter the story title'"
               [formControlName]="'title'"
               [type]="'text'">
        <mat-error>Required</mat-error>
    </mat-form-field>

    <!-- ----------------------------- Description ----------------------------- -->
    <ng-container *ngIf="type === 'story'">
        <mat-label>Description
        </mat-label>
        <mat-form-field appearance="outline" class="w-100 py-3">
            <textarea matInput
                      cdkTextareaAutosize
                      rows="5"
                      style="overflow: hidden;"
                      [placeholder]="'Enter the story description'"
                      [formControlName]="'description'">
                </textarea>
            <mat-error>Required</mat-error>
        </mat-form-field>
    </ng-container>

    <!-- ------------------------------- Content ------------------------------- -->

    <mat-label>Content
        <span class="text-danger">*</span>
    </mat-label>
    <editor style="margin-top: 20px;"
            [init]="editorOptions"
            [inline]="false"
            [formControlName]="'content'">
    </editor>

    <!-- ------------------------------- Actions ------------------------------- -->
    <div class="d-flex flex-wrap justify-content-center justify-content-md-center mb-4">
        <button mat-stroked-button
                class="my-4 p-4"
                style="min-width: 250px;"
                color="primary"
                type="submit">
            Submit
        </button>
    </div>
</form>