<div class="fw-550 text-dark">
    <h1 class="border-bottom mb-2 p-4">PwC Assignment</h1>
    <div class="px-4 pb-4">
        <div>Name: Tamim Khaldoon Khalil</div>
        <div>Email: kk.tamim73@gmail.com</div>
        <div>Mobile: 0785936622</div>
    </div>

    <div class="py-2 px-4">
        <div class="border-bottom my-2 fs-125 fw-550">Get Started</div>
        <p class="">API</p>
        <div>
            <ol>
                <li>Modify the 'Default' connection string in appsettings.json to match your environment</li>
                <li>Select the Web project and run <i>'update-database'</i> command in NuGet Package Manager Console</li>
                <li>Run the application by pressing <i>Ctrl + F5</i></li>
            </ol>
        </div>
        <p class="">Web app (Angular)</p>
        <div>
            <ol>
                <li>modify the apiURl in 'environment.ts' to match the running API, default is 'https://localhost:5001/api'</li>
                <li>Open a terminal in the project folder then run <i>'ng s -o'</i></li>
                <li>Make sure the api is running with the url that is configured is angular environment</li>
            </ol>
        </div>
    </div>

    <div class="py-2 px-4">
        <div class="border-bottom my-2 fs-125 fw-550">Description</div>
        <div>
            <ul>
                <li>Create user registration and login pages</li>
                <li>There are 2 different kinds of registrations (admin and writer)</li>
                <li>All blogs are public and can be viewed without log in</li>
                <li>When a user lands on the website, he/she should be able to see a list of blog titles. (no need to log in at this stage)</li>
               <li>Users can select a blog and view the full content (no need to log in at this stage)</li>
               <li>User can select a story and add content to it (user should be logged in) </li>
               <li>User can create a new story (user should be logged in)</li>
               <li>User can not modify other user’s content. He/She can only append new content. </li>
               <li>An admin page to view and edit all the stories</li>
            </ul>
        </div>
    </div>

    <div class="py-2 px-4">
        <div class="border-bottom my-2 fs-125 fw-550">Technologies</div>
        <div>
            <ul>
                <li>Angular 11 with Angular Material</li>
                <li>Bootstrap 4 utilities</li>
                <li>.NET Core 5</li>
                <li>Entity Framework Core</li>
                <li>SQL Server</li>
            </ul>
        </div>
    </div>

    <div class="py-2 px-4">
        <div class="border-bottom my-2 fs-125 fw-550">Prerequisites</div>
        <div>
            <ul>
                <li>Node.js</li>
                <li>npm</li>
                <li>Angular cli</li>
                <li>.NET Core 5 SDK</li>
                <li>SQL server</li>
            </ul>
        </div>
    </div>


</div>